html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
  user-select: none;
}

header {
  padding-bottom: 3rem;
}

table {
  font-size: x-large;
  line-height: 2.8rem;
  margin-left: auto;
  margin-right: auto;
}